body[data-theme='light'] button {
  background: var(--btn-color-light);
  color: var(--text-color-light);
}

body[data-theme='light'] input, body[data-theme='light'] .menu {
  color: var(--text-color-light);
  border: var(--btn-color-light) solid 1px;
}

body[data-theme='light'] .menu-input::placeholder {
  color: var(--text-color-light);
}

body[data-theme='dark'] .menu-input::placeholder {
  color: var(--text-color-dark);
}

.menu {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--btn-color-dark);
  border-radius: 5px;
  padding: 5px;
  gap: 10px;
  width: 265px;
  margin-top: 10px;
}

.menu-heading {
  margin: 0;
  padding: 0 5px;
  font-size: 12px;
  margin-top: -12px;
  margin-left: 6px;
  font-weight: normal;
  background: var(--bg-color-dark);
  width: fit-content;
}

body[data-theme='light'] .menu-heading {
  background: var(--bg-color-light);
}

.menu-input {
  background: transparent;
  border: 1px solid var(--btn-color-dark);
  color: var(--text-color-dark);
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.menu-input:focus {
  border: solid var(--accent-color);
  padding: 8px;
}

.menu-button {
  background: var(--btn-color-dark);
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--text-color-dark);
  padding: 10px;
  cursor: pointer;
}

.menu-separator {
  height: 0;
  width: calc(100% - 20px);
  margin: 10px 0 0;
  border-bottom: 1px solid var(--btn-color-dark);
  align-self: center;
}

.menu-label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto 0;
}

/* Custom input buttons  */

.menu-age-input {
  width: 100%;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.age-input {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

.age-input::-webkit-outer-spin-button, .age-input::-webkit-inner-spin-button {
  display: none;
}

.input-button {
  height: 100%;
  width: 20px;
  padding: 12px;
  background: var(--btn-color-dark);
  border: none;
  position: relative;
}

.input-button:nth-of-type(2) {
  border-right: 1px #666666 solid;
}

.increment {
  transform: rotate(180deg);
}

.input-button:after {
  content: "";
  position: absolute;
  display: none;
}

.menu-age-input .input-button:after {
  display: block;
  left: 9px;
  top: 14px;
  width: 5px;
  height: 5px;
  border: solid var(--text-color-dark);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

body[data-theme='light'] .menu-age-input .input-button:after {
  border: solid var(--text-color-light);
  border-width: 0 1px 1px 0;
}

/* Custom switch */

.menu-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.menu-switch {
  background-color: var(--accent-color);
  width: 50px;
  height: 20px;
  border-radius: 16px;
  position: relative;
}

.menu-switch::before {
  content: "";
  font-weight: 900;
  background-color: var(--bg-color-dark);
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.menu-checkbox:checked + .menu-switch {
  background-color: var(--accent-color);
}

.menu-checkbox:checked + .menu-switch::before {
  content: "";
  left: 34px;
  color: #0075ff;
  background-color: #fff;
}

/* Custom checkbox */

.custom-checkbox {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  background: var(--bg-color-dark);
  border-radius: 5px;
  border: var(--accent-color) solid 1px;
}

body[data-theme='light'] .custom-checkbox {
  background: var(--bg-color-light);
}

.menu-label input:checked ~ .custom-checkbox {
  background: var(--accent-color);
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.menu-label input:checked ~ .custom-checkbox:after {
  display: block;
}

.menu-label .custom-checkbox:after {
  left: 7px;
  top: 0;
  width: 5px;
  height: 15px;
  border: solid var(--bg-color-dark);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

body[data-theme='light'] .menu-label .custom-checkbox:after {
  border: solid var(--bg-color-light);
  border-width: 0 2px 2px 0;
}

/* Custom select */

.menu-subscribed {
  display: flex;
  border-radius: 5px;
  position: relative;
}

.menu-select {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subscribed-options {
  position: absolute;
  background: var(--bg-color-dark);
  z-index: 999;
  width: 265px;
  top: 40px;
}

.subscribed-option {
  padding: 5px;
}

.subscribed-option:hover {
  background: var(--accent-color);
}

.menu-subscribed .input-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-subscribed .input-button:after {
  display: block;
  left: 9px;
  top: 14px;
  width: 5px;
  height: 5px;
  border: solid var(--text-color-dark);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

body[data-theme='light'] .menu-subscribed .input-button:after {
  border: solid var(--text-color-light);
  border-width: 0 1px 1px 0;
}