.list {
  border: 1px solid #595959;
  border-radius: 5px;
  width: 480px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 10px;
  background: #595959;
}

.list::-webkit-scrollbar-thumb {
  background: #217346;
}

.selected {
  background-color: #217346;
}

.list-table {
  width: 100%;
  border-spacing: 0;
  padding: 5px;
}

.list-table-thead {
  background: #595959;
  
}

tr th {
    font-weight: normal;
    text-align: center;
  }