.list {
  border: 1px solid var(--btn-color-dark);
  border-radius: 5px;
  width: 480px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 10px;
  background: var(--btn-color-dark);
}

body[data-theme='light'] .list::-webkit-scrollbar {
  background: var(--btn-color-light);
}

.list::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

.selected {
  background-color: var(--accent-color);
}

body[data-theme='light'] .selected {
  color: var(--text-color-dark);
}

.list-table {
  width: 100%;
  border-spacing: 0;
  padding: 5px;
}

.list-table-thead {
  background: var(--btn-color-dark);
}

body[data-theme='light'] .list-table-thead {
  background: var(--btn-color-light);
}

tr th {
    font-weight: normal;
    text-align: center;
  }